# dependencies
node_modules/
mobile/node_modules/

# Expo
mobile/.expo/
mobile/dist/
mobile/web-build/
mobile/expo-env.d.ts

# local env files
.env
.env*.local
mobile/.env
mobile/.env*.local

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# generated native folders
mobile/ios/
mobile/android/
